<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <form ng-submit="submitName()">
                <div class="panel-header">
                    Voer hier uw naam in
                </div>
                <div class="panel-body">
                    <input type="text" ng-model="information.name" />
                    <hr>
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
